# Ignorar todos os arquivos FITS (muito pesados)
*.fits
*.fits.gz
*.fts

# Ignorar pastas inteiras de dados
Input/
Output/

# Ignorar arquivos temporários do Python e do Sistema
__pycache__/
*.py[cod]
.DS_Store
.ipynb_checkpoints/	
